{% import 'src/macros.twig' as macros %}

<div
  class="people-grid-block {{block.className}}"
  id="{{block.anchor}}"
  {{is_preview ? 'data-preview' : ''}}
  data-animation="{{is_preview ? '':'fadeInUp'}}"
>
  <div class="people-grid-block-inner -apply-typography">
  
    {% for person in people %}

      <div class="people-grid-block-person">

          <div class="people-grid-block-person-image">
            {{ macros.image(person.image) }}
          </div>

          <div class="people-grid-block-person-content">
            
            <h3 class="people-grid-block-person-title">
              {{person.first_name}} {{person.last_name}}
            </h3>

            <h4 class="people-grid-block-person-job_title">
              {{person.job_title}}
            </h4>

            <div class="people-grid-block-person-bio">
              {{person.bio}}
            </div>
            
          </div>
      </div>

    {% endfor %}

  </div>
</div>
