{% import 'src/macros.twig' as macros %}

<div
  class="product-intro-block {{block.className}}"
  id="{{block.anchor}}"
  {{is_preview ? 'data-preview' : ''}}
>


  <div class="product-intro-block-image">
    {% if (fields.image) %}
      {{ macros.image(fields.image) }}
    {% else %}
      <img src="https://placehold.co/1640x800/cccccc/aaaaaa/?text=Placeholder+Image" alt="Placeholder image">
    {% endif %}
  </div>

  <div class="product-intro-block-text  -apply-typography">
    <p>{{fields.text}}</p>
  </div>

  <div class="product-intro-block-button">
    {{ macros.link('/contact', 'Inquire', ['button-outlined'], '', is_preview) }}
  </div>
</div>